<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">surname</th>
        <th scope="col">salary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${user}">
        <td th:text="${user.getId()}">
        <td th:text="${user.getName()}">
        <td th:text="${user.getSurname()}">
        <td th:text="${user.getSalary()}">


        </td>

    </tr>
    </tbody>
</table>

</body>
</html>